<html>
	<head>
		<title>KeepVids</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
	</head>
	<body>
		
		<div id="head">
			<img src="{% static 'img/head3.png' %}">
			<div class="row">
				<div class="col s5">
					<p id="sub">VideoLoot is a free web application that allows you to download videos from YouTube. All you need is the URL of the video you want to download. Enter it and simply click 'Go!'. VideoLoot will then fetch download links in all possible formats that the particular site provides.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s4">
				<div id="form">
					<form class="form-horizontal" action = "" method = "get" id="form">
						<input type="text" name="url" required="true" placeholder="Enter the YouTube Video URL"><br>
						<button class="btn" type = "submit" name="submitButton" >Go!</button>
						{% if error %}
							<p id="error" class="center">{{ error }}</p>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
		<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
	</body>
</html>