
<!DOCTYPE html>
<html>
	<head>
		<title>VideoLoot</title>
		<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
		<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
		<!-- web-font -->
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<link href="//fonts.googleapis.com/css?family=Stalemate:400" rel="stylesheet" type="text/css">


		<!-- web-font -->
		<!-- js -->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/modernizr.custom.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!-- js -->
		<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		<!-- start-smoth-scrolling -->
	</head>
	<body>
		<!-- header -->
		<div id="home" class="header-bg">
			<div class="header-layer">
				<div class="header-top">
					<!-- container -->
					<div class="container">
						<div class="head-logo">
						<h3 class="logo"><a href="#"><b>VideoLoot</b></a></h3>
						</div>
						<div class="clearfix"> </div>
						<div class="head-info">
							<!-- <h1>MODERNO</h1> -->
							<img src="/static/images/youtube.png" style="height:110px; width:160px;">
							<p>VideoLoot is a free web application that allows you to download videos from YouTube. All you need is the URL of the video you want to download. Enter it and simply click 'Go!'. VideoLoot will then fetch download links in all possible formats that the particular site provides. </p>

							<form class="form-horizontal" action = "" method = "get">
				<fieldset>

						
						 <div class="col-lg-12">
    <div class="input-group">
      <input type="text" name="url" required="true" class="form-control" placeholder="Enter the YouTube Video URL">
      <span class="input-group-btn">
        <button class="btn btn-default" id="submitButton" type = "submit" name="submitButton" ><b>Go!</b></button>
        <!-- <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button> -->
      </span>
    </div>
  </div>
			
						

				</fieldset>
			</form>
							
						</div>
					</div>
		
				</div>
			</div>
		</div>

		
				<div class="clearfix"> </div>
			</div>
		</div>
	</body>
</html>